{% extends "global/base.html" %}

{% block title %}
    Marículas
{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Matrículas</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Matriculado</th>
                    <th>Ocupação</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for register in registers %}
                    <tr>
                        <td>{{ register.name }}</td>
                        <td>{{ register.is_registered }}</td>
                        <td>{{ register.get_ocupation_display }}</td>
                        <td>Visualizar  Editar  Apagar</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination">
                {% if registers.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ registers.previous_page_number }}">Anterior</a>
                    </li>
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="?page={{ registers.previous_page_number }}">{{ registers.previous_page_number }}</a>
                    </li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ registers.number }}</a>
                </li>
                
                {% if registers.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ registers.next_page_number }}">{{ registers.next_page_number }}</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ registers.next_page_number }}">Próxima</a></li>
                {% endif %}
            </ul>
          </nav>
    </div>
{% endblock content %}
