{% extends "global/base.html" %}

{% block title %}
    Marículas
{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Matrículas</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Matriculado</th>
                    <th>Ocupação</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for register in registers %}
                    <tr>
                        <td>{{ register.name }}</td>
                        <td>{{ register.is_registered }}</td>
                        <td>{{ register.get_ocupation_display }}</td>
                        <td>Visualizar  Editar  Apagar</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
