<div class="container background-register p-5 mt-3">
    <div class="mb-3">
        <h1 class="text-center">{{ title }}</h1>
    </div>
    <form action="{{ form_action }}" method="POST"> {% csrf_token %}
        <div class="form-content form-content-grid">
            {% for field in form %}
                <div class="form-group">
                    <label for="{{field.id_for_label}}" class="form-label mt-2">
                        {{field.label}}
                    </label>
                    {{field}}
                    {% if field.help_text and form_action %}
                        <div class="form-text">{{field.help_text}}</div>
                    {% endif %}
                    {{field.errors}}
                </div>
            {% endfor %}
        </div>
        {% if form.errors %}
            <div class="form-content form-content-grid">
                <div class="form-group">
                    <div class="message message-error my-2">
                        Existem erros nesse formulário, por favor corrija os itens.
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="form-content form-content-grid my-2">
            <div class="form-group">
                {% include "global/partials/message.html" %}
            </div>
        </div>
        {% if form_action %}
            <div class="form-content form-content-grid">
                <div class="d-flex justify-content-end form-group">
                    <button type="submit" class="btn button-1">{{ title }}</button>
                </div>
            </div>
        {% endif %}
    </form>
    <script>
        document.getElementById('id_ocupation').addEventListener('change', function() {
            var field  = document.getElementById('id_sig_register');
            var select = document.getElementById('id_ocupation');
    
            if (select.value == 'E' | select.value == 'F') {
                field.setAttribute('required', 'required');
            } else {
                field.removeAttribute('required');
            }
        });
    </script>    
    <script>
        var num1Input = document.getElementById('id_height');
        var num2Input = document.getElementById('id_weight');
        var resultadoInput = document.getElementById('id_imc');
        
        // Adiciona um ouvinte de eventos para o evento input
        num1Input.addEventListener('input', calcular);
        num2Input.addEventListener('input', calcular);

        function calcular() {
            num1Input.value = num1Input.value.replace(',', '.');
            num2Input.value = num2Input.value.replace(',', '.');

            var altura = parseFloat(num1Input.value) || 0; // Se não for um número válido, assume 0
            var peso = parseFloat(num2Input.value) || 0;

            // Realiza o cálculo (por exemplo, soma)
            var resultado = peso/altura**2;
            
            resultadoInput.value = resultado;
        }
    </script>
</div>