<div class="container background-register p-5 mt-3">
    <div class="mb-3">
        <h1 class="text-center">{{ title }}</h1>
    </div>
    <form action="{{ form_action }}" method="POST"> {% csrf_token %}
        <div class="form-content form-content-grid">
            {% for field in form %}
                <div class="form-group">
                    {% if field.field.widget.choices %}
                        <label for="{{field.id_for_label}}" class="form-label mt-2">
                            {{field.label}}
                        </label>
                        <select name="{{ field.name }}" class="form-control">
                            <option value="" disabled selected>Selecione uma opção</option>
                            {% for value, label in field.field.choices %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <label for="{{field.id_for_label}}" class="form-label mt-2">
                            {{field.label}}
                        </label>
                        {{field}}
                    {% endif %}
                    {% if field.help_text %}
                        <div class="form-text">{{field.help_text}}</div>
                    {% endif %}

                    {{field.errors}}
                </div>
            {% endfor %}
        </div>
        {% if form.errors %}
            <div class="form-content form-content-grid">
                <div class="form-group">
                    <div class="message message-error my-2">
                        Existem erros nesse formulário, por favor corrija os itens.
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="form-content form-content-grid my-2">
            <div class="form-group">
                {% include "global/partials/message.html" %}
            </div>
        </div>
        <div class="form-content form-content-grid">
            <div class="d-flex justify-content-end form-group">
                <button type="submit" class="btn btn-primary">{{ title }}</button>
            </div>
        </div>
    </form>
</div>