<div class="container background-register p-5 mt-3">
    <div class="mb-5">
        <h1 class="text-center">Painel Administrativo</h1>
    </div>
    <div class="card-alignment mb-5">
        <div class="card" style="width: 15rem; border: none;">
            <p class="icons-style">
                <i class="fa-regular fa-calendar"></i>
            </p>
            <div class="card-body">
              <h5 class="card-title text-center">Agendamentos</h5>
            </div>
        </div>
        <a href="{% url 'assessment:assessment_view' %}" style="text-decoration: none;">
        <div class="card" style="width: 15rem;border: none;">
            <p class="icons-style">
                <i class="fa-solid fa-dumbbell"></i>
            </p>
            <div class="card-body">
              <h5 class="card-title text-center">Avaliações</h5>
            </div>
        </div>
        </a>
        <a href="{% url 'enrollment:enrollment_view' %}" style="text-decoration: none;">
            <div class="card" style="width: 15rem; border: none;">
                <p class="icons-style">
                    <i class="fa-solid fa-users"></i>
                </p>
                <div class="card-body">
                  <h5 class="card-title text-center">Matrículas</h5>
                </div>
            </div>
        </a>
    </div>
</div>