{% extends "global/base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="text-center my-5">Academia da UEMA</h1>
    {% if not request.is_authenticated %}
        <div class="d-flex justify-content-center gap-3">
            <a href="{% url 'users:login'%}" class="btn button-1">
                Login
            </a>
            <a href="{% url 'users:register'%}" class="btn button-2">
                Registrar
            </a>
        </div>
    {% else %}
        <div class="d-flex justify-content-center gap-3">
            <a href="{% url 'users:login'%}" class="btn button-1">
                Entrar
            </a>
        </div>
    {% endif %}
    </div>
{% endblock content %}