{% extends "global/base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 class="text-center my-5">Academia da UEMA</h1>
    {% if not request.user.is_authenticated %}
        <div class="d-flex justify-content-center gap-3">
            <a href="{% url 'users:login'%}" class="btn button-1">
                Login
            </a>
            <a href="{% url 'users:register'%}" class="btn button-2">
                Registrar
            </a>
        </div>
    {% else %}
        <h2 class="text-center my-3">
            Olá, {{ request.user }}!
        </h2>
        <div class="d-flex justify-content-center gap-3">
            <a href="{% url 'users:login'%}" class="btn button-1">
                Menu
            </a>
            <form action="{% url 'users:logout' %}" method="POST"> {% csrf_token %}
                <div class="d-flex justify-content-end form-group">
                    <button type="submit" class="btn button-3">Sair</button>
                </div>
            </form>
        </div>
        <div class="d-flex justify-content-center gap-3">
           
        </div>
    {% endif %}
    </div>
{% endblock content %}