{% extends "global/base.html" %}

{% block title %}
    Marículas
{% endblock title %}

{% block content %}
    <div class="container mt-2">
        <h2 class="text-center mb-1">Avaliações</h2>
        <div class="form-content form-content-grid my-2" id='message'>
            <div class="form-group">
                {% include "global/partials/message.html" %}
            </div>
        </div>
        <div class="space-search">
            <div class="inline-form">
                {% include "global/partials/search.html" %}
            </div>            
            <div>
                <a class="btn button-1" href="{% url 'assessment:add_view' %}">Adicionar</a>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Status Avaliação</th>
                    <th>Status Matrícula</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for register in registers %}
                    {% include "assessment/partials/modal_delete.html" %}
                    <tr>
                        <td>{{ register.name }}</td>
                        <td>{{ register.get_is_evaluated_display }}</td>
                        <td>{{ register.name.get_is_registered_display }}</td>
                        <td>
                            <a class="btn button-view me-1" href="{% url "assessment:to_view" id=register.pk %}">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <a class="btn button-edit me-1" href="{% url "assessment:to_edit" id=register.pk %}">
                                <i class="fa-solid fa-pen"></i>
                            </a>
                            <a class="btn button-delete me-1" data-bs-toggle="modal" data-bs-target="#item-{{register.pk}}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="...">
            <ul class="pagination">
                {% if registers.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ registers.previous_page_number }}">Anterior</a>
                    </li>
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="?page={{ registers.previous_page_number }}">{{ registers.previous_page_number }}</a>
                    </li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ registers.number }}</a>
                </li>
                
                {% if registers.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ registers.next_page_number }}">{{ registers.next_page_number }}</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ registers.next_page_number }}">Próxima</a></li>
                {% endif %}
            </ul>
          </nav>
    </div>
    <script>
        // Função para excluir o elemento após um certo tempo
        setTimeout(function() {
            var elementoParaExcluir = document.getElementById('message');
            if (elementoParaExcluir) {
                elementoParaExcluir.remove();
            }
        }, 3000); 
    </script>
{% endblock content %}
